<!DOCTYPE html>
<html lang="en" class="holiday-css-dark">
<head>
    <link rel="preconnect" href="https://cdnjs.cloudflare.com" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}abCTF{% endblock %}</title>
    <meta name="title" content="abCTF" /> <!--TODO: customizable meta and branding -->

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    {% block head %}{% endblock %}
</head>
<body>
    {% block header %}
    <header>
        <h1>abCTF</h1>
    </header>
    {% endblock %}
    {% block nav %}
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            {% if is_authed %}
                {% if is_on_team %}
                    <li><a href="/team">My Team</a></li>
                {% else %}
                    <li><a href="/team/create">Create a Team</a></li>
                {% endif %}
            {% endif %}
            <li><a href="/challenges">Challenges</a></li>
            <li><a href="/scoreboard">Scoreboard</a></li>
            
            {% if not is_authed %}
                <li class="push-right"><span><a href="/login">Log In</a> or <a href="/register"><button type="button">Register</button></a></span></li>
            {% else %}
                <li class="push-right">
                    <span>{{ username }}</span>
                    <ul>
                        <li><a href="/logout">Log Out</a></li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </nav>
    {% endblock %}
    <main>
        {% with messages = get_flashed_messages() %}
            {% if messages %}{% for message in messages %}<blockquote>{{ message }}</blockquote>{% endfor %}{% endif %}
        {% endwith %}
        {% block main %}{% endblock %}
    </main>
    <footer>
        <p>Powered by abCTF, &copy; {{ year }} (<code>{{ commit }}</code>) Henry Martin.</p>
    </footer>
    {% block scripts %}{% endblock %}
</body>
</html>