@import url('/static/css/holiday.css');
@import url('/static/css/theme.css');

/* body {
    transition: background-color 0.5s ease, color 0.5s ease;
    font-family: 'Montserrat', sans-serif;

}

h1, h2, h3, h4, h5, h6 {
    transition: font-family 0.5s ease, font-size 0.5s ease, color 0.5s ease, 
                text-shadow 0.5s ease, letter-spacing 0.5s ease, background-clip 0.5s ease,
                -webkit-background-clip 0.5s ease, -webkit-text-fill-color 0.5s ease;
} */

